body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.radio-group label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#client-id-display {
    margin-top: 20px;
    font-size: 18px;
    color: blue;
}
.label-container {
    margin-top: 10px;
  }
  
  .label-box {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
  }
  
  .label-box .remove-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
  }
  
  .submit-btn .select_preprocess {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  #param-container input {
    display: block;
    margin: 8px 0;
    padding: 6px 10px;
    width: 160px;
}

.btn-group {
    margin-top: 20px;
}